* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
:root {
  --main-color: #65020b;
  --main-hover: #78030d;
  --light-bg: #e0e0e0;
  --light-text: #EEEEEE;
  --white: #ffffff;
}
img {
  max-width: 100%;
  display: block;
}
/* Start Header */
.Header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: auto;
    padding: 30px 100px;
    margin: auto;
    z-index: 1;
}
.headerLinks {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}
.logo {
    width: 60px;
    margin-left: 150px;
}
.Header a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 50px;
    transition: .3s;
    white-space: nowrap;
}
.Header a:hover {
    background-color:var(--main-hover);
}
.btn {
    border-style: none;
    background-color:rgb(7, 7, 7) ;
    border: none;
    padding: 0 20px;
    height: 45px;
    color: #ffffff;
    border-radius: 50px ;
    font-size: medium; 
    transition: .3s;
}
 .btn:hover {
    background-color: var(--main-hover);
    cursor: pointer;
}
/* End Header */

/*Landing Page */
.landing-page-container {
    background-color: var(--main-color);
    border-radius: 0 0 100px 100px;
}
.landing-page {
    display: flex;
    color: #fff;
    padding: 100px 0;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}
.landing-page .slogan {
    font-size:50px ;
    font-weight: bold;
    color: #fdfdfd;
    margin-top: 10px;
    
}
.landing-page .welcome{
    color: #fdfdfd;
    font-size: x-large;
    height: 10px;
}
.landing-page .discription {
    color: #fdfdfd;
    width: 60%;
    line-height: 1.5;
    font-weight: 500;
}
.Searchbar {
    position: relative;
    margin-top: 100px;
}
.Searchbar input {
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 20px;
    font-size: large;
    height: 40px;
    width: 300px;
}
.Searchbar .Searchbtn {
position: absolute;
    left: 240px;
    bottom: -3px;
    height: 45px;
}
.landing-page-left {
    padding-top: 30px;
    flex: 8;
}
.landing-page-Right {
    flex : 4;
}
.landing-page-Right img {
    border-radius: 20px;
    width: 80%;
}
/* END LANDING PAGE  */

/* TRENDING GAMES */
.trending-games, .categ-section {
    margin: auto;
    padding:25px 50px ;
    max-width: 1300px;
    width: 100%;
    margin-top: 100px;
}
.trending-games span, .most-section span, .categ-head span {
    color: var(--main-color);
    font-size: 14px;
    font-weight: bold;
}
.trending-header, .mostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    max-width:1300px;
    width: auto;
}
.trending-header h1,.mostHeader h1 {
    margin-top: 0;
}
.trending-card {
    margin: 10px 0px;
    display: flex;
    gap: 20px;
}
.cardtrend {
    position:relative ;
}
.cardtrend .trend-img {
    border-radius: 20px 20px 0 0;
    width: 300px
}
.trend-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 200px;
    width: 100%;
    padding-top: 15px;
    border-radius: 0 0 20px 20px;
    background-color: #EEEEEE;
}
.trend-name {
    padding: 0 20px;
}
.trending-card .trend-name h3 {
    margin-top : 0;
}
.trending-card .trend-name p {
    color: gray;
    margin-bottom: 0;
}

.trend-info img {
    width: 50px;
}
.trending-card .trend-info .icon img{
    transition: 0.3s;
    width: 50px;
}
.trending-card .trend-info .icon {
    margin-right: 20px;
}
.trending-card .trend-info img:hover{
    transform: scale(1.3);
}
/* END TRENDING GAMES */

/* Start Mostcards */
.most-section{
    background-color: var(--light-bg);
    padding: 50px 0;
    margin-top: 200px;
    border-radius: 100px;
}
.most-played {
    max-width: 1400px;
    margin: auto;
    background-color: var(--light-bg);
    padding: 0 40px;
    border-radius: 50px;
}
.cardimg img {
    border-radius: 20px;
} 
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

}
.card-container .most-card {
    min-width: 180px;
    text-align: center;
}
.card-container .cardinfo {
    display: flex;
    flex-direction: column;
    align-items: center; 

}
.card-container .cardinfo .genre {
    margin-bottom: 0;
    color: grey;
}
/* End Mostcard */

/* Start Category */
.categ-section {
    margin-top: 80px;
    padding: 0;
}
.category{
    max-width: 1300px;
    margin: auto;
}
.categ-head{
    text-align: center;
    padding-bottom: 50px;
   max-width: 1280px;
    width: 100%;
}
.categ-head h1 {
 margin-top: 7px;
}
.categ-head span{
    font-size: 18px;
}

.categ-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.card{
    transition: .3s;
}

.categ-card .card {
     background-color: var(--main-color);
     border-radius: 25px;;
     height: 280px;
}
.categ-card .card:hover{
    transform: scale(1.05);
}
.card .genre {
    text-align: center;
    color: #EEEEEE;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0 28px 0; 
}

.categ-card .card .cardimg {
    position: relative;
    top: -8px;
}
/* End Category */

/* Start Footer */
.footcontainer {
    background-color: var(--main-color);
    border-radius: 100px 100px 0 0;
    width: 100%;
    margin: auto;
    margin-top: 150px ;
}
.footer{
    color: #EEEEEE;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 40px 0;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* End Foot */

 @media (min-width: 768px) and (max-width: 1024px ){
/* Header */
.Header {
    padding: 20px 40px;
}
.Header .btn {
    height: 45px;
    padding: 0 15px;
}
.headerLinks {
    width: 65%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.logo {
    margin-left: 20px;
}
/* Landing Page */
.landing-page{
    flex-direction: column;
    text-align: center;
    gap: 40px   
}
.Searchbar .Searchbtn {
    left: 130px;
    position: relative;
    height: 45px;
    bottom: 42px;
}
.landing-page-left, .landing-page-Right{
    flex: 1;
}
.landing-page .discription {
    width: 100%;
    font-size: 21px;
}
.Searchbar {
    justify-content: center;        
    display: flex;
    align-items: center;
    flex-direction:column;
}
.Searchbar input {
    width: 350px;
}
/* Trending */
.trending-card{
    flex-wrap: wrap;
    gap: 65px;
    justify-content: center;
}
.trend-info {
    padding-top: 0;
}
/* Most Played */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    .categ-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .categ-card .card {
        max-width: 280px;
    }
}
@media (max-width: 767px) {

/* Header */
    .Header{
    flex-direction: column;
    padding: 20px;
    height: auto;
    gap: 15px;
    position: unset;
    }
    .logo {
        margin: 0;
    }
    .headerLinks {
        width: 300px;
        flex-wrap:wrap;
        justify-content: center;
        gap: 10px;
    }
    .Header .btn {
        height: 45px;
    }
/* Landing Page */
    .landing-page {
        flex-direction:column;
        padding: 40px 20px;
        text-align: center;
    }
    .slogan {
        font-size: 0;
    }
    .landing-page .discription {
        width: 100%;
        line-height: 1.6;
    }
    .landing-page-left {
        padding-top: 0;
    } 
    .Searchbar{
        margin-top: 40px;
    }
    .Searchbar input {
        height: 35px;
        width: 300px;
    }
    .Searchbar .Searchbtn {
        white-space: nowrap;
        left: 95px;
        padding: 0 15px;
        height: 35px;
        position: relative;
        bottom: 35px;
    }
    .landing-page-Right {
        padding-top:40px ;
    }
    .landing-page-Right img {
        width: 70%;
    } 
  /* Trending Games */
    .trending-games {
        padding: 25px 20px;
        margin-top: 50px;
    }
    .trending-header h1 {
        margin-top: 0px ;
        margin-bottom:0 ;
        font-size: 22px;
    }
    .trending-header .btn {
        white-space: nowrap;
        margin: -15px;
        height: 40px;
        padding: 0 20px;
    }
    .trending-card {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-left: 0;
         margin: 30px 0;
        margin-left: 0;
    }
    .trending-card .cardtrend{
    width: 100%;
    max-width: 320px
    }
    .cardtrend .trend-img {
        width: 100%;
    }
    .trend-info {
    top: 0;
    width: 100%;
    margin-top: -10px;
    position: relative;
    }
/* Most Cardes */
    .most-section {
        margin-top: 50px;
    }
    .most-played {
        padding: 0 20px;
    }
    .mostHeader h1 {
        font-size: 26px;
    }
    .mostHeader .btn {
        margin-top: -17px;
        height: 40px;
    }
    .card-container {
        justify-content: center;
    }
    .card-container .cardinfo .genre {
        padding: 10px 0 5px 0;
    }
    .card-container .btn {
        height: 40px;
        padding: 0 15px;
    }
    .cardName{
        margin-top: 5px;
    }
/* Category Cards */
    .categ-head {
        padding-bottom: 30px;
    }
    .card .genre {
      padding:20px 0 28px 0 ;  
    }
    .categ-card {
        flex-direction: column;
    }
 /* Start Footer */
 .footcontainer {
    border-radius: 70px 70px 0 0;
}
    .footer {
        font-size: 16px;
        font-weight: 500;
    }
}